@tailwind base;
@tailwind components;
@tailwind utilities;





.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}


.cinzel {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;

}

/* .carousel .thumb {
  margin-left: 50px;
} */

.carousel .thumbs-wrapper {
    display: flex;
    justify-content: center;
}


.swiper-slide-margin{
    margin-right: 0px ; 
}

.wide-text{
    letter-spacing: 3px;
}